<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="kernel" type="org.ncore.Ioc.KernelConfiguration,org.ncore.Ioc"/>
    </configSections>
    <kernel>
        <types>
            <clear/>
            <add name="_unittests.org.ncore.Ioc.ISampleInterfaceA" 
                 assembly="_unittests.org.ncore.Ioc" 
                 typeName="_unittests.org.ncore.Ioc.SampleClassA"/>
            <add name="ArbitraryName" 
                 assembly="_unittests.org.ncore.Ioc" 
                 typeName="_unittests.org.ncore.Ioc.SampleClassB"
                 allowSave="true"/>
        </types>
    </kernel>
</configuration>