<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="locator" type="org.ncore.Ioc.LocatorConfiguration,org.ncore.Ioc"/>
    </configSections>
    <locator>
        <types>
            <clear/>
            <add name="_unittests.org.ncore.Ioc.ISampleInterfaceA" 
                 assembly="_unittests.org.ncore.Ioc" 
                 typeName="_unittests.org.ncore.Ioc.SampleClassA"/>
            <add name="ArbitraryName" 
                 assembly="_unittests.org.ncore.Ioc" 
                 typeName="_unittests.org.ncore.Ioc.SampleClassB"
                 allowSave="true"/>
            <add name="Svc.*"
                 assembly="_unittests.org.ncore.Ioc"
                 typeName="_unittests.org.ncore.Ioc.SampleApp.RealImp"/>            
        </types>
    </locator>
</configuration>